{{define "footer"}}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <small class="text-muted">Made with Go 1.18</small>
            </div>
        </div>
    </div>
{{end}}